.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Вирівнюємо картинки по центру */
    list-style-type: none; /* Видаляємо крапки списку */
}

.gallery img {
    width: 360px; /* Фіксована ширина кожної картинки */
    height: 300px; /* Фіксована висота кожної картинки */
    margin: 10px; /* Відступи між картинками */
    object-fit: cover; /* Обрізає картинку, щоб вона вписувалася в задані розміри */
}
